/* src/styles.css */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: #333;
  }
  
  .feature {
    margin: 20px 0;
  }
  
  .feature {
    width: 200px;
    height: 100px;
    background-color: #4bc9fe;
    color: #fff;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
  }
  
  .rectangle:hover {
    background-color: #0091ea;
  }
  

  