.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #7F9AC5;
    min-height: 100vh;
  }
  
  .logoContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  
  .logo {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }
  
  .logoText {
    font-family: 'DMMedium';
    font-size: 32px;
    font-weight: 500;
    color: #333;
    margin-top: 4px;
    margin-bottom: 20%;
    padding-bottom: 30%;
  }
  
  .formContainer {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    width: 30%
  }
  
  .loginText {
    font-size: 30px;
    font-weight: 500;
    color: #333;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .input {
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 0 10px;
    font-family: 'DMRegular';
    font-size: 16px;
    width: 80%;
    align-self: center;
  }
  
  .submitButton {
    background-color: #7F9AC5;
    color: #fff;
    font-family: 'DMMedium';
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    height: 40px;
    cursor: pointer;
    width: 20%;
    align-self: center;
    margin-bottom: 5%;
}
  
  .registerContainer {
    display: flex;
    justify-content: center;
  }
  
  .registerLink {
    color: #AD40AF;
    font-weight: 700;
    margin-left: 5px;
  }
  